node_modules
dist
out
.DS_Store
.eslintcache
*.log*
/packages/client/src/renderer/src/types/auto-imports.d.ts
/packages/client/src/renderer/src/types/components.d.ts
/packages/client/src/renderer/src/types/typed-router.d.ts
